@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
    color: white;
=======
    color: black;
>>>>>>> 96c0fa0843ce9b6f2446c028bfa8a3d6723933c9
}

body {
    background-color: #181629;
}

<<<<<<< HEAD
.title {
}

.text {
=======
.body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 50%;
    height: fit-content;
    margin-top: 5%;
    padding: 50px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.title {
    text-align: center;
    font-size: 40px;
}

.text {
    text-align: center;
    margin: 20px 0 20px 0;
>>>>>>> 96c0fa0843ce9b6f2446c028bfa8a3d6723933c9
}

.button {
    background-color: #681E86;
    color: white;
<<<<<<< HEAD
    font-size: 30px;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
=======
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
>>>>>>> 96c0fa0843ce9b6f2446c028bfa8a3d6723933c9
}