@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-color: #181629;
}

.title {
}

.text {
}

.button {
    background-color: #681E86;
    color: white;
    font-size: 30px;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
}