@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    color: black;
    /* --main-bg-color: #525DAD; */
    --main-bg-color: #181629;
}

body {
    background-color: var(--main-bg-color);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    margin-top: 5%;
    padding: 50px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.title {
    text-align: center;
    font-size: 40px;
}

.text {
    text-align: center;
    margin: 20px 0 20px 0;
}

.button {
    background-color: #681E86;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
}

/* boton start now */

/* .landingButton {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.landingButton {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.landingButton p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.landingButton::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.landingButton p::before {
    position: absolute;
      box-sizing: border-box;
    content: "Start Now";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.landingButton:hover::after {
    width: 100%;
}

.landingButton:hover p::before {
    width: 100%;
}

.landingButton:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.landingButton svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
} */

.landingButton {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    background: #ad5389;
    background: linear-gradient(to right, #ccd141, #e1ef4f, #ccdc52);
    /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.landingButton svg {
    margin-left: 10px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.landingButton span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.landingButton:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.landingButton:hover span {
    transform: translateX(7px);
}